
/*-------------BODY---------------------*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic', sans-serif;
}

a {
    text-decoration: none;
}


/*-------------BACKGROUND VIDEO---------------------*/
.back-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

/*-------------MENU---------------------*/
.menu nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 100;
    display: flex;
    align-items: right;
    justify-content: space-between;
    background: rgba(77, 205, 236, 0.4);

    
}

.menu nav .logo {
    width: 60px;
    border-radius: 30%;
    margin-left: 40px;
}

.menu nav ul {
    margin: auto;
    max-width: 100%;
}

.menu nav ul li {
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
}

.menu nav ul li a {
    display: inline-block;
    padding: 15px 30px 15px 55px;
    color: #ffffff;
    font-size: 20px;
}

.menu nav ul li a:hover, .menu nav ul li a.current {
    color: #222222;
    background-color: #ffffff;
}




/*-------------BOX---------------------*/
.box {
    width: 500px;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 12%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}

.box-img {
    border-radius: 50px;
    width: 200px;
    height: 200px;
    border-color: #00f7ff;
    border-style: solid;
}

.box h1 {
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}

.box p {
    text-align: justify;
    line-height: 1.5;
}

ul {
    margin: 0;
    padding: 0;
}

.box li {
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box li a {
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}

.box li a:hover {
    color: #b9b9b9;
}

/*---------------------SKILLS----------------*/

.box table {
    width: 100%;
    margin: auto;
    vertical-align: top;
    border-collapse: collapse;
}

.box table td, .box table th {
    vertical-align: top;
    text-align: left;
    padding: 10px 40px;
}

.box table tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.4);
}



/*---------------------2ND BOX FOR EDUCATIONS----------------*/

.box2 {
    width: 1000px;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 12%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}

.box2 h2 {
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box2 table {
    width: 100%;
    margin: auto;
    vertical-align: top;
    border-collapse: collapse;
}

.box2 table td, .box2 table th {
    vertical-align: top;
    text-align: left;
    padding: 10px 40px;
}

.box2 table tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.4);
}


/*-------------------CONTACT INFO----------------------------*/


.info {
    margin: auto; /*This is to center the element*/
    padding-top: 10px;
    padding-bottom: 20px;
    width: 1000px;
    max-width: 100%;
    border-bottom: 1px dotted wheat;
}

.info li {
    display: inline-block;
    width: 100%;
    text-align: center;
}